﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="admin.aspx.cs" Inherits="admin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div id="burçlar">

            <h3>BURÇLAR</h3>
            <asp:GridView ID="GridView1" runat="server" Width="396px">
                <Columns>
                    <asp:BoundField DataField="sagittarius" HeaderText="Daily" />
                    <asp:BoundField DataField="aires" HeaderText="Daily" />
                    <asp:BoundField DataField="taurus" HeaderText="Daily" />
                    <asp:BoundField DataField="cancer" HeaderText="Daily" />
                    <asp:BoundField DataField="virgo" HeaderText="Daily" />
                    <asp:BoundField DataField="scorpio" HeaderText="Daily" />
                    <asp:BoundField DataField="pisces" HeaderText="Daily" />
                    <asp:BoundField DataField="leo" HeaderText="Daily" />
                    <asp:BoundField DataField="gemini" HeaderText="Daily" />
                    <asp:BoundField DataField="capricorn" HeaderText="Daily" />
                    <asp:BoundField DataField="aquarius" HeaderText="Daily" />
                    <asp:BoundField DataField="libra" HeaderText="Daily" />
                    <asp:CommandField HeaderText="DELETE" ShowDeleteButton="True" />
                    <asp:HyperLinkField HeaderText="UPDATE" Text="Details" />
                </Columns>
            </asp:GridView>

             <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/admina.aspx">Add New Coment</asp:HyperLink>
        </div>
        <div id="haberler" >

            <h3>HABERLER </h3>
            <asp:GridView ID="GridView2" runat="server">
            </asp:GridView>


        </div>
    
    </div>
    </form>
</body>
</html>
