﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="cancer1.aspx.cs" Inherits="FashionBeauty_cancer1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    
  
     
          <div id="header">


                <a href="LogIn.aspx" id="l"> LOG IN </a>
              <a href="SignUp.aspx" id="s"> SIGN UP</a>



                   
               <a href="#"> <img src="IMAGES/flagEn.png" />  </a> 
              
        
    </div>

    <div id="menu">

        <div id="logo">
         <a href="#" id="i" ><img src="IMAGES/logoson.png" /></a> 
        </div>
        
        <div id="writing">

        <ul>
        <li> <a href="#" id="m"> FASHION </a>
            <ul>
                <li> <a href="#">NEWS</a>  </li>
                 <li> <a href="#">TODAY I'M WEARING</a>  </li>
                 <li> <a href="#">O MU BU MU</a>  </li>



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="g"> BEAUTY </a>
            <ul>
                <li> <a href="#">BEAUTY TRENDS</a>  </li>
                <li> <a href="#"> </a>  </li>
                <li> <a href="#">ESTETİK</a>  </li>
                <li> <a href="#"></a>  </li>
                <li> <a href="#">SAÇ</a>  </li>



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="ü"> ACCESSORIES </a>
            <ul>
                <li> <a href="#">TRENDS</a>  </li>
                <li> <a href="#">SHOP ACCESORIES</a>  </li>
                



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="d"> HOROSCOPES  </a>
            <ul>
                <li> <a href="#">ABOUT</a>  </li>
                <li> <a href="#"> PROFILE</a>  </li>
                



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="e"> GALLERY </a>
            <ul>
                <li> <a href="#">PHOTO GALLERY</a>  </li>
                <li> <a href="#">VİDEO GALLERY</a>  </li>
                <li> <a href="#">BEST OF</a>  </li>



            </ul>

            </li>
            </ul>

         
            
        </div>
        </div>

        <div id="logohoros">

          <div id="logoelement"><img src="IMAGES/cancer%20logo.png" /></div>  
        </div>
        <div id="profile"> 

          <p> Compassionate Cancer, your nurturing spirit is like a welcome-home embrace, feathery as a goose-down blanket and stable as a pillar in the Roman Colosseum. You’re the zodiac's Mother Goddess, ruler of the nest. Playing caretaker comes as naturally to you as breathing. Not that you'd bless just anyone with your maternal gifts. Over time, your shell hardens as you learn to protect your soft underbelly from harsh outside influences—callous, careless people who don't respect the sanctity of tender emotions. All applicants desiring your trust must prove their merit and valor. You'd rather have three amazing friends than 50 casual acquaintances. For you, intimacy is the be-all, end-all—even if it takes you aeons to get to that stage. Female friends are your lifeblood, as the spirit of sisterhood blazes fiercely within you. Unfortunately, your trust issues can limit you from venturing into the world. At some point, you must decide to take a risk; otherwise life becomes dull and decidedly limited.

</p>
            <br />
            <br /> 
         <p>

             Because you’re ruled by the emotional moon (as well as being a highly sensitive water sign), your feelings wax and wane without explanation. Emotional eating can be a cathartic pitfall when you're feeling low. To stabilize your mood swings, weight, and overall vitality, embrace your inner foodie, but tweak your favorite gourmet recipes into low-calorie "heart smart" masterpieces. Romantically, your standards can be breathtakingly high, you weather long bouts of celibacy waiting for The One to reveal himself. Fortunately, your destiny is not to be alone. That family-oriented prince is a stone's throw away, waiting for you to lower the drawbridge so he can gallop in without a stinging rejection (you can be intimidating, believe it or not). On the subject of "lowering," how about dropping your collar a few inches? Your sign rules the chest, and no one can pull off a scoop-neck top, plunging neckline, and oversize baubles quite like you. 

         </p>
            <br />
            <br />  

            <p>
             <b>   Ruler:</b>  the empathetic, ever-changing, emotional moon <br /> <br />

          <b>Your gifts:</b>  creativity, emotional intelligence, a nurturing and sisterly spirit <br /> <br />

         <b>Your issues:</b>  cliquishness, cheapness, cattiness <br /> <br />

       <b> Your saving grace:</b>  your razor-sharp (and petal-soft) maternal instincts <br /> <br />

       <b>Your path:</b>  to create the spirit of family wherever you go <br /> <br />
 
      <b>Your fashion inspiration:</b>  Louis Vuitton, Badgley Mischka <br /> <br />

        <b>Love 'em:</b>  Scorpio, Capricorn <br /> <br />

       <b> Notsomuch:</b>  Sagittarius, Aquarius <br /> <br />

      <b> Celebrity starmates:</b>  Jessica Simpson, Lindsay Lohan, Gisele Bündchen, Pamela Anderson <br /> <br />
            </p>

           
        </div>

           <div id="social">

                 <a href="#" ><img src="IMAGES/face.png" style="height: 30px; width: 30px" /> </a>
                 <a href="#"><img src="IMAGES/twitter.png" style="height: 30px; width: 30px" /> </a>
                 <a href="#"> <img src="IMAGES/insta.png" style="height: 30px; width: 30px" /></a>
                 <a href="#"> <img src="IMAGES/google-plus-128.png" style="height: 30px; width: 30px" /></a>

            </div>
    </div>
    </form>
</body>
</html>
