﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="daily.aspx.cs" Inherits="daily" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
         <div id="daily">
           <ul>

          <li><a href="aires.aspx"><img src="IMAGES/aries.png" /> </a></li>
          <li><a href="tauras.aspx"> <img src="IMAGES/Taurus.png" /> </a></li>
          <li><a href="gemini.aspx">  <img src="IMAGES/gemini.png" /></a></li>
          <li><a href="cancer1.aspx"><img src="IMAGES/cancer.png" /> </a></li> </ul>
            <br/> <br/>
                
      <ul>   <li><a href="leo.aspx"> <img src="IMAGES/leo.png" /> </a> </li>
          <li><a href="virgo.aspx"> <img src="IMAGES/Virgo.png" /> </a></li>
          <li><a href="libra.aspx"> <img src="IMAGES/libra.png" /> </a></li>
          <li><a href="scorpio.aspx"><img src="IMAGES/scorpio.png" /> </a></li> </ul>
            <br /> <br/>

         <ul> <li><a href="sagittarius.aspx"><img src="IMAGES/sagittarius.png" /> </a></li>
          <li><a href="capricorn.aspx"> <img src="IMAGES/capricorn.png" /></a></li>
          <li><a href="aquaris.aspx"> <img src="IMAGES/aquarius.png" /> </a></li>
          <li><a href="pisces.aspx"> <img src="IMAGES/pisces.png" />  </a></li> 
               </ul>
            
        </div> </div>
    
    </form>
</body>
</html>
