﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="fashion.aspx.cs" Inherits="fashion" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>FASHIONIST</title>
    <script src="JavaScript.js"></script>
    <link href="style.css" rel="stylesheet" />
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body>
    <form id="form1" runat="server">
    <div>

          <div id="header">

              
                <a href="LogIn.aspx" id="l"> LOG IN </a>
              <a href="SignUp1.aspx" id="s"> SIGN UP</a>



                   
               <a href="#"> <img src="IMAGES/flagEn.png" />  </a> 
              
        
    </div>

    <div id="menu">

        <div id="logo">
         <a href="#" id="i" ><img src="IMAGES/logoson.png" /></a> 
        </div>
        
        <div id="writing">

        <ul>
        <li> <a href="#" id="m"> FASHION </a>
            <ul>
                <li> <a href="news.aspx">NEWS</a>  </li>
                 <li> <a href="todayImWearing.aspx">TODAY I'M WEARING</a>  </li>
                 <li> <a href="thisThat.aspx">THIS OR THAT</a>  </li>



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="g"> BEAUTY </a>
            <ul>
                <li> <a href="#">BEAUTY TRENDS</a>  </li>
                <li> <a href="#"> </a>  </li>
                <li> <a href="#">ESTETİK</a>  </li>
                <li> <a href="#"></a>  </li>
                <li> <a href="#">SAÇ</a>  </li>



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="ü"> DESIGNERS </a>
            <ul>
                <li> <a href="#">TRENDS</a>  </li>
                <li> <a href="shopFrom.aspx">SHOP FROM</a>  </li>
                



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="d"> HOROSCOPES  </a>
            <ul>
                <li> <a href="#">ABOUT</a>  </li>
                <li> <a href="Horoscope1.aspx">PROFILE</a>  </li>
                 <li> <a href="daily.aspx">DAILY</a>  </li>
                



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="e"> GALLERY </a>
            <ul>
                <li> <a href="#">PHOTO GALLERY</a>  </li>
                <li> <a href="VideoGallery.aspx">VİDEO GALLERY</a>  </li>
                <li> <a href="#">BEST OF</a>  </li>



            </ul>

            </li>
            </ul>

         
            
        </div>

 </div>
       
    
    </div>

        <div id="sitecontent">
            <div id="year">
            <a href="#"><img src="IMAGES/new year2.png"/> </a>

            </div>

            <div id="social">

                 <a href="#" ><img src="IMAGES/face.png" style="height: 30px; width: 30px" /> </a>
                 <a href="#"><img src="IMAGES/twitter.png" style="height: 30px; width: 30px" /> </a>
                 <a href="#"> <img src="IMAGES/insta.png" style="height: 30px; width: 30px" /></a>
                 <a href="#"> <img src="IMAGES/google-plus-128.png" style="height: 30px; width: 30px" /></a>

            </div>

        </div>




    </form>
</body>
</html>
