﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Horoscope1.aspx.cs" Inherits="Horoscope1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>FASHIONIST</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
          <div id="header">


                <a href="LogIn.aspx" id="l"> LOG IN </a>
              <a href="SignUp.aspx" id="s"> SIGN UP</a>



                   
               <a href="#"> <img src="IMAGES/flagEn.png" />  </a> 
              
        
    </div>

    <div id="menu">

        <div id="logo">
         <a href="#" id="i" ><img src="IMAGES/logoson.png" /></a> 
        </div>
        
        <div id="writing">

        <ul>
        <li> <a href="#" id="m"> FASHION </a>
            <ul>
                <li> <a href="#">NEWS</a>  </li>
                 <li> <a href="#">TODAY I'M WEARING</a>  </li>
                 <li> <a href="#">O MU BU MU</a>  </li>



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="g"> BEAUTY </a>
            <ul>
                <li> <a href="#">BEAUTY TRENDS</a>  </li>
                <li> <a href="#"> </a>  </li>
                <li> <a href="#">ESTETİK</a>  </li>
                <li> <a href="#"></a>  </li>
                <li> <a href="#">SAÇ</a>  </li>



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="ü"> ACCESSORIES </a>
            <ul>
                <li> <a href="#">TRENDS</a>  </li>
                <li> <a href="#">SHOP ACCESORIES</a>  </li>
                



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="d"> HOROSCOPES  </a>
            <ul>
                <li> <a href="#">ABOUT</a>  </li>
                <li> <a href="#"> PROFILE</a>  </li>
                



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="e"> GALLERY </a>
            <ul>
                <li> <a href="#">PHOTO GALLERY</a>  </li>
                <li> <a href="#">VİDEO GALLERY</a>  </li>
                <li> <a href="#">BEST OF</a>  </li>



            </ul>

            </li>
            </ul>

         
            
        </div>
        </div>
        <div id="horos"> 

           <ul>

          <li><a href="aires.aspx"><img src="IMAGES/aries.png" /> </a></li>
          <li><a href="tauras.aspx"> <img src="IMAGES/Taurus.png" /> </a></li>
          <li><a href="gemini.aspx">  <img src="IMAGES/gemini.png" /></a></li>
          <li><a href="cancer1.aspx"><img src="IMAGES/cancer.png" /> </a></li> </ul>
            <br/> <br/>
                
      <ul>   <li><a href="leo.aspx"> <img src="IMAGES/leo.png" /> </a> </li>
          <li><a href="virgo.aspx"> <img src="IMAGES/Virgo.png" /> </a></li>
          <li><a href="libra.aspx"> <img src="IMAGES/libra.png" /> </a></li>
          <li><a href="scorpio.aspx"><img src="IMAGES/scorpio.png" /> </a></li> </ul>
            <br /> <br/>

         <ul> <li><a href="sagittarius.aspx"><img src="IMAGES/sagittarius.png" /> </a></li>
          <li><a href="capricorn.aspx"> <img src="IMAGES/capricorn.png" /></a></li>
          <li><a href="aquaris.aspx"> <img src="IMAGES/aquarius.png" /> </a></li>
          <li><a href="pisces.aspx"> <img src="IMAGES/pisces.png" />  </a></li> 
               </ul>
            
        </div>
    </div>
    </form>
    
</body>
</html>
