﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="shopFrom.aspx.cs" Inherits="shopFrom" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <div id="header">


                <a href="LogIn.aspx" id="l"> LOG IN </a>
              <a href="SignUp.aspx" id="s"> SIGN UP</a>



                   
               <a href="#"> <img src="IMAGES/flagEn.png" />  </a> 
              
        
    </div>

    <div id="menu">

        <div id="logo">
         <a href="#" id="i" ><img src="IMAGES/logoson.png" /></a> 
        </div>
        
        <div id="writing">

        <ul>
        <li> <a href="#" id="m"> FASHION </a>
            <ul>
                <li> <a href="#">NEWS</a>  </li>
                 <li> <a href="#">TODAY I'M WEARING</a>  </li>
                 <li> <a href="#">O MU BU MU</a>  </li>



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="g"> BEAUTY </a>
            <ul>
                <li> <a href="#">BEAUTY TRENDS</a>  </li>
                <li> <a href="#"> </a>  </li>
                <li> <a href="#">ESTETİK</a>  </li>
                <li> <a href="#"></a>  </li>
                <li> <a href="#">SAÇ</a>  </li>



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="ü"> ACCESSORIES </a>
            <ul>
                <li> <a href="#">TRENDS</a>  </li>
                <li> <a href="#">SHOP ACCESORIES</a>  </li>
                



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="" id="d"> HOROSCOPES  </a>
            <ul>
                <li> <a href="#">ABOUT</a>  </li>
                <li> <a href="#"> PROFILE</a>  </li>
                



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="e"> GALLERY </a>
            <ul>
                <li> <a href="#">PHOTO GALLERY</a>  </li>
                <li> <a href="#">VİDEO GALLERY</a>  </li>
                <li> <a href="#">BEST OF</a>  </li>



            </ul>

            </li>
            </ul>

         
            
        </div>
        </div>
        
              

            <div id="shopFrom">

             <br/> <br/>   <br/> <br/>  <br/>  <h6>SHOP FROM</h6>
             <ul>

          <li> <a href="http://www.armani.com/tr"target="_blank"> <img src="IMAGES/Armani-Logo.jpg" /> </a> </li>
          <li> <a href="http://www.chanel.com/en_GB"target="_blank"> <img src="IMAGES/Chanel-Logo.jpg" />  </a> </li>
          <li> <a href="http://www.dkny.com"target="_blank"> <img src="IMAGES/dkny.gif" /> </a> </li>
          <li> <a href="http://www.burberry.com"target="_blank">   <img src="IMAGES/burberry.jpg" /> </a> </li>
           </ul>
            <br/> 
                
      <ul>  <li> <a href="http://www.gucci.com/tr"target="_blank"> <img src="IMAGES/gucci-logo.jpg" /></a> </li>
          <li> <a href="http://www.prada.com"target="_blank"> <img src="IMAGES/prada-logo.jpg" /> </a> </li>
          <li> <a href="http://www.louisvuitton.com"target="_blank"> <img src="IMAGES/vuitton.jpg" /> </a> </li>
          <li> <a href="http://www.michaelkors.com"target="_blank"> <img src="IMAGES/korse.jpg" /> </a> </li>

      </ul>
          
            <br/> 

         <ul>
          <li> <a href="http://www.guess.eu/en/"target="_blank"> <img src="IMAGES/guess.png" /> </a> </li>
          <li> <a href="http://explore.calvinklein.com/"target="_blank"><img src="IMAGES/969_calvinklein.jpg" /> </a> </li>
          <li> <a href="http://www.massimodutti.com/inditex-sel/?redirect=true"target="_blank"> <img src="IMAGES/massimo.png" /> </a> </li> 
          <li> <a href="http://www.dolcegabbana.com"target="_blank"> <img src="IMAGES/DG-logo-1.jpg" /> </a> </li>
               </ul>
                <br /> 

        </div>

        <div id="social">

                 <a href="#" ><img src="IMAGES/face.png" style="height: 30px; width: 30px" /> </a>
                 <a href="#"><img src="IMAGES/twitter.png" style="height: 30px; width: 30px" /> </a>
                 <a href="#"> <img src="IMAGES/insta.png" style="height: 30px; width: 30px" /></a>
                 <a href="#"> <img src="IMAGES/google-plus-128.png" style="height: 30px; width: 30px" /></a>

            </div>
    </div>
    </form>
</body>
</html>
