﻿body {
    background-color:beige;
    min-width:300px;
  
}

a:active{
    color: pink;
}


a:hover{
     color:pink;
 }
#profile {

    margin-top:100px;
    font-family:Verdana;
    font-size:14px;
    padding-top:0px;
    
}
p {
    margin-left:30px;
    margin-right:30px;
    margin-top:10px;
  
    


}



 
 #header {

     
     text-align:right;
     font-family:Verdana;
     margin-top:0px;
     margin-bottom:0px;
     margin-left:auto;
     margin-right:auto;
     text-decoration:none;
     padding:0px;
     font-weight:bold;
     min-width:300px;
     
     
 }
#menu{


  padding-top:10px;
  margin-right:30px;
  text-decoration:none;
  font-family:Calibri;
  color:black;
  width:100%;
  min-width:300px;
  padding-left:70px;
  
}

    #menu:hover {
        color:pink;
    }

    #menu:active {
        color:pink;
    }
#writing {
float:left;
width:95%;
padding-top:50px;
padding-left:70px;
}

    #writing ul {
        margin:0px;
       padding:0px;
       padding-left:0px;
       
    }

    #writing li {
        margin:0px;
       padding:0px;
       padding-left:30px;
       list-style:none;
       float:left;
       position:relative;
     
      padding-right:0px;
     
        display:block;
       

    }

     #writing ul li a {
        text-align:center;
        font-family:Verdana,cursive;
        text-decoration:none;
        display:block;
        color:black;
         
        
        

    }
     #writing ul ul{

         position:absolute;
         visibility:hidden;
         font-size:12px;
         font-family:Verdana;
         padding-left:60px;
         font-weight:bold;
         background-color:none;
         text-align:center;
         
         
         
     }

        #writing ul ul li a {
            padding-bottom:5px;
            padding-left:0px;
            padding-top:10px;
            

        }

          #writing ul ul li a:hover {
            color:pink;

        }

            #writing ul ul li a:active {
            color:purple;

        }


      #writing ul li:hover ul{

        
         visibility:visible;
     }

#logo {
float:left;
width:4%;

}
#m{
    padding-top:0px;
 color:black;
 text-decoration:none;
 padding-left:100px;
 font-weight:bold;
 font-family:Verdana;
font-size:18px;

}

#m:hover{color:pink;
    
}
#m:active{color:purple;
    
}
#g{
     color:black;
    text-decoration:none;
    font-weight:bold;
    padding-left:60px;
    font-family:verdana;
font-size:18px;

}
#ü{
     color:black;
    text-decoration:none;
    font-weight:bold;
    padding-left:60px;
    font-family:verdana;
font-size:18px;

}
#d{
     color:black;
    text-decoration:none;
    font-weight:bold;
    padding-left:60px;
    font-family:verdana;
font-size:18px;
}

#s {
    padding-left:5px;
    text-decoration:none;
    color: black;
}
#e{
     color:black;
    text-decoration:none;
    font-weight:bold;
    padding-left:60px;
   font-family:verdana;
font-size:18px;

}
#i {
   padding-left:30px;
}
#l {
    text-decoration: none;
    color: black;
    
}
#g:hover{color:pink;
    
}
#g:active{color:purple;
    
}
#ü:hover{color:pink;
    
}
#ü:active{color:purple;
    
}
#d:hover{color:pink;
    
}
#d:active{color:purple;
    
}

#e:hover{color:pink;
    
}
#e:active{color:purple;
    
}

#l:hover{color:pink;
    
}
#l:active{color:purple;
    
}

#l {
    padding-right:10px;
}
#sitecontent{
    padding-top:10px;
   

}
#year {
    margin-left: 65px;
    padding-left:65px;
    
}

#social {
float:left;
padding-top:10px;
margin-left:1000px;

}
#logohoros{
    padding-top:15px;
    padding-bottom:5px;
    margin-top:20px;
}
#logoelement {

     margin-top:200px;
    padding-bottom:5px;
}

#horos ul li {
    list-style:none;
    margin-left:80px;
    margin-left:80px;
    
}

#horos ul li a {
    list-style:none;
    float:left;
    padding-right:40px;
    
}

     
h6 {
    text-align:center;
    font-family:'Comic Sans MS';
    font-size:30px;
    color:pink;

    margin-top:150px;


}

#shopFrom {
    padding-top:15px;
    padding-bottom:5px;
    margin-top:20px;
    
    margin-bottom:50px;
}

#shopFrom ul li {
    list-style:none;
    margin-left:80px;
    
    
    
    
}

#shopFrom ul li a {
    list-style:none;
    float:left;
    padding-right:80px;
    
    
}
    #shopFrom ul {
        padding-bottom:30px;
    }
#video {
   
     padding-top:15px;
    padding-bottom:5px;
    margin-top:50px;
    margin-left:60px;
   
}
#video ul li a {
        list-style:none;
       
        padding-right:30px;
        padding-bottom:20px;
    }
    #video ul li {
        list-style: none;
        float:left;
        padding-right:30px;
         padding-bottom:20px;
    }

