﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="thisThat.aspx.cs" Inherits="thisThat" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
body
{
margin:0px auto;
width:980px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 

}
        .blankstar {
            background-image: url(IMAGES/rate_star_empty-512.png );
            width: 16px;
            height: 16px;
        }
.waitingstar
{
background-image: url(IMAGES/rate_star_full_empty_half-512.png);
width: 16px;
height: 16px;
}
.shiningstar
{
background-image: url(IMAGES/rate_star_full-512.png);
width: 16px;
height: 16px;
}
</style>

</head>
<body>
    <form id="form1" runat="server">
    
    
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate> 

                 <asp:Rating ID="Rating2" runat="server" Width="100px" BackImageUrl="~/IMAGES/face.png" RatingDirection="RightToLeftBottomToTop" OnChanged="Rating2_Changed"> rating</asp:Rating>
            </ContentTemplate>
         
        </asp:UpdatePanel>
        <img src="IMAGES/thisThat/curly.jpg" />

        <img src="IMAGES/thisThat/high.jpg" />
        
       
        <img src="IMAGES/thisThat/light.jpg" />
&nbsp;<img src="IMAGES/thisThat/longShort.jpg" />


        <img src="IMAGES/thisThat/Sweatpants-8.jpg" />
&nbsp;<asp:Rating ID="Rating1" runat="server" AutoPostBack="True" WaitingStarCssClass="waitingstar" StarCssClass="blankstar" FilledStarCssClass="shiningstar"
            EmptyStarCssClass="blankstar" OnChanged="Rating1_Changed" EnableViewState="True"></asp:Rating>
     
         
        </form>

        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
      
</body>
    </html>
    
