﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="VideoGallery.aspx.cs" Inherits="VideoGallery" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title><link href="style.css" rel="stylesheet" />
</head>

<body>
    <form id="form1" runat="server">
    <div>
        <div id="header">

              
                <a href="LogIn.aspx" id="l"> LOG IN </a>
              <a href="SignUp1.aspx" id="s"> SIGN UP</a>



                   
               <a href="#"> <img src="IMAGES/flagEn.png" />  </a> 
              
        
    </div>

    <div id="menu">

        <div id="logo">
         <a href="#" id="i" ><img src="IMAGES/logoson.png" /></a> 
        </div>
        
        <div id="writing">

        <ul>
        <li> <a href="#" id="m"> FASHION </a>
            <ul>
                <li> <a href="#">NEWS</a>  </li>
                 <li> <a href="#">TODAY I'M WEARING</a>  </li>
                 <li> <a href="#">O MU BU MU</a>  </li>



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="g"> BEAUTY </a>
            <ul>
                <li> <a href="#">BEAUTY TRENDS</a>  </li>
                <li> <a href="#"> </a>  </li>
                <li> <a href="#">ESTETİK</a>  </li>
                <li> <a href="#"></a>  </li>
                <li> <a href="#">SAÇ</a>  </li>



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="ü"> DESIGNERS </a>
            <ul>
                <li> <a href="#">TRENDS</a>  </li>
                <li> <a href="#">SHOP FROM</a>  </li>
                



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="d"> HOROSCOPES  </a>
            <ul>
                <li> <a href="#">ABOUT</a>  </li>
                <li> <a href="Horoscope1.aspx">PROFILE</a>  </li>
                



            </ul>

            </li>
            </ul>

             <ul>
        <li> <a href="#" id="e"> GALLERY </a>
            <ul>
                <li> <a href="#">PHOTO GALLERY</a>  </li>
                <li> <a href="#">VİDEO GALLERY</a>  </li>
                <li> <a href="#">BEST OF</a>  </li>



            </ul>

            </li>
            </ul>

         
            
        </div>

 </div>
       
    
    
        
            <div id="video"> 
                <br/><br/>
                <h4><b> FASHION SHOW </b></h4> <br/><br/>
                <ul>
              <li>  <iframe width="315" height="290" src="//www.youtube.com/embed/qSBygi7MhyI" frameborder="0" allowfullscreen></iframe> </li>
              <li>  <iframe width="315" height="290" src="//www.youtube.com/embed/CHXRTStPrUQ" frameborder="0" allowfullscreen></iframe> </li>
              <li>  <iframe width="315" height="290" src="//www.youtube.com/embed/oWUyyL0VDAQ" frameborder="0" allowfullscreen></iframe> </li>
              <li>    <iframe width="315" height="290" src="//www.youtube.com/embed/56N93OgCg1Y" frameborder="0" allowfullscreen></iframe> </li>
               <li>   <iframe width="315" height="290" src="//www.youtube.com/embed/vEYCD5FSjVM" frameborder="0" allowfullscreen></iframe>  </li>

                    </ul>
                <br/>   <br/>
                <h4><b> MAKE UP </b></h4> <br/><br/>
                <ul>
              <li>  <iframe width="315" height="290"" src="//www.youtube.com/embed/uWm_mMLViw4" frameborder="0" allowfullscreen></iframe> </li>
              <li>  <iframe width="315" height="290" src="//www.youtube.com/embed/QFlzlDbPiTI" frameborder="0" allowfullscreen></iframe></li>
              <li> <iframe width="315" height="290" src="//www.youtube.com/embed/BkYTOYtB3tI" frameborder="0" allowfullscreen></iframe> </li>
              <li><iframe width="315" height="290" src="//www.youtube.com/embed/7jUxuHxZbN4" frameborder="0" allowfullscreen></iframe></li>
              <li> <iframe width="315" height="290" src="//www.youtube.com/embed/H8uKBAybjow" frameborder="0" allowfullscreen></iframe> </li>

                    </ul>
                  <br/>  <br/>
                  <h4><b> HAIR </b></h4> <br/><br/>
                <ul>
              <li> <iframe width="315" height="290" src="//www.youtube.com/embed/fLESwQSDHBM" frameborder="0" allowfullscreen></iframe></li>
              <li> <iframe width="315" height="290" src="//www.youtube.com/embed/n0qwDydK_-o" frameborder="0" allowfullscreen></iframe></li>
              <li>  <iframe width="315" height="290" src="//www.youtube.com/embed/2rK7xYvxW74" frameborder="0" allowfullscreen></iframe> </li>
              <li>   <iframe width="315" height="290" src="//www.youtube.com/embed/r64eJF3CzIY" frameborder="0" allowfullscreen></iframe> </li> 
               <li> <iframe width="315" height="290" src="//www.youtube.com/embed/tXTsA7pPYJM" frameborder="0" allowfullscreen></iframe> </li>
                    </ul>
                  <br/>  <br/>
            </div>

            <div id="social">

                 <a href="#" ><img src="IMAGES/face.png" style="height: 30px; width: 30px" /> </a>
                 <a href="#"><img src="IMAGES/twitter.png" style="height: 30px; width: 30px" /> </a>
                 <a href="#"> <img src="IMAGES/insta.png" style="height: 30px; width: 30px" /></a>
                 <a href="#"> <img src="IMAGES/google-plus-128.png" style="height: 30px; width: 30px" /></a>

            </div>
    
    </div>
    </form>
</body>
</html>
